<!DOCTYPE html>
<html>
  <head>
    <title>Todolist</title>
    <!-- Icon -->
    <link rel="icon" href="images/icon.png" />
    <!-- Font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <!-- Stile -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Vue 3.x -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <div id="app" class="container">
      <!-- Intestazione -->
      <header class="panel">
        <h1>Todolist app</h1>
        <img src="images/logo.svg" alt="Logo Boolean" />
      </header>

      <!-- Sezione principale -->
      <main>
        <!-- Lista attività -->
        <ul v-if="tasks.length > 0" class="todo-list">
          <li v-for="(task, index) in tasks" :key="index" class="todo-item">
            <div class="todo-check">
              <img
                @click="removeTask(index)"
                src="images/circle-xmark-regular (1).svg"
                alt=""
              />
            </div>
            <p
              @click="task.done = !task.done"
              :class="task.done === true ? 'task-done' : ''"
              class="todo-text"
            >
              {{task.text}}
            </p>
          </li>
        </ul>
        <!-- MEssaggio da mostrare se non ho attività -->
        <p v-else class="empty-list-message">
          Non ci sono attività da svolgere
        </p>

        <!-- pannello aggiunta attività -->
        <div class="panel add-todo">
          <input
            @keyup.enter="addNewTask"
            v-model="newTask"
            type="text"
            placeholder="Aggiungi attività"
          />
          <button @click="addNewTask">
            <img src="images/add.svg" alt="plus icon" />
          </button>
        </div>
      </main>
    </div>
    <!-- Javascript -->
    <script type="text/javascript" src="js/script.js"></script>
  </body>
</html>
